<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116929185399-5ppst9ucd7ghv3kstn19mdo9hv0o38au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116929185399-5ppst9ucd7ghv3kstn19mdo9hv0o38au</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116929185399-8dup7gsr2c6qoje7d0ns8paa7dq3n0m3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ5QXF4Wzh-RuZWM_TLhBA1GurkP1Pugs</string>
	<key>GCM_SENDER_ID</key>
	<string>116929185399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lcy.cyCube</string>
	<key>PROJECT_ID</key>
	<string>cy-cube-a25ad</string>
	<key>STORAGE_BUCKET</key>
	<string>cy-cube-a25ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116929185399:ios:9e65d22a9bc10a997ae872</string>
</dict>
</plist>