<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc-dAEe6wV5g8EIdhPVrrC3DhK2LoM4t4</string>
	<key>GCM_SENDER_ID</key>
	<string>332722357217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lcy.cyCube</string>
	<key>PROJECT_ID</key>
	<string>cy-cube</string>
	<key>STORAGE_BUCKET</key>
	<string>cy-cube.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332722357217:ios:c7df0d569ba9bd69d248a0</string>
</dict>
</plist>