<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGsgtLMW1qnO4vIJS6GKkU96yBUfWny_M</string>
	<key>GCM_SENDER_ID</key>
	<string>1017295288458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lichyo.cube</string>
	<key>PROJECT_ID</key>
	<string>cube-bddd3</string>
	<key>STORAGE_BUCKET</key>
	<string>cube-bddd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017295288458:ios:0eebdd1644e2944ac55573</string>
	<key>DATABASE_URL</key>
	<string>https://cube-bddd3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>